/** @format */

#featured {
	img {
		height: 100%;
		object-fit: cover;
		border-radius: 8px;
	}
}

.card {
	position: relative;
	overflow: hidden;

	figcaption {
		position: absolute;
		bottom: 0;
		padding: 24px;

		&:has(.text-lg) {
			padding: 12px;
		}

		h2 {
			margin-top: 8px;
		}
	}
}
